/* General Styles */
.row {
  margin-right: 0;
  margin-left: 0;
}

p{
  margin-bottom: 0.5rem;
}

.md-form {
  margin-bottom: 0;
}

/* Header Styles */
.headerIcon {
  font-size: 25px;
  cursor: pointer;
  color: #e8eaf6 ;
  padding: 5px;
}

/* ListView styles */
.listContainer {
  width: 100%;
  border-radius: 5px;
  border: solid .3px #dbdbdb;
  background: #dbdbdb;
  height: 92vh;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 2%;
  overflow-y: scroll;
  box-shadow: 1px 1px 3px 1px rgb(160, 160, 160);
}

/* ListItem styles */
.listItem {
  width: 95%;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  background: white;
  box-shadow: 2px 2px 5px 1px grey;
  transition: all 250ms;
  cursor: pointer;
}

.activeListItem {
  box-shadow: 2px 2px 9px 2px #3f51b5;
}

.itemTitle {
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  color: #6b6b6b;
}

.authors {
  text-align: center;
  color: #6b6b6b;
  font-size: 1em;
}

.publishingYear {
  font-size: 0.9em;
  color: #7a7a7a;
}

.itemAbstract {
  font-size: 0.85em;
  color: #6b6b6b;
}

.clusterIndicator {
  width: 100%;
  height: 15px;
  background: linear-gradient(#ffffff, rgb(64, 81, 181));
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  filter: blur(2px);
}

/* Scroll-indicator */
/* width */
::-webkit-scrollbar{
  width: 2.5px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  transition: all 500ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4b4b4b;
  width: 8px;
}

/* Main Canvas */
#mainCanvas {
  width: 100%;
  height: 92vh;
  margin-top: 10px;
}

#mainCanvas_2 {
  width: 100%;
  height: 92vh;
  margin-top: 10px;
}

.canvasSVG {
  box-shadow: 1px 1px 3px 1px rgb(160, 160, 160);
  border-radius: 5px;
  background: #e6e6e6;
}

.docCircle {
  stroke: #4051b5;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(195, 195, 195, 0.7));
  filter: drop-shadow( 3px 3px 2px rgba(195, 195, 195, .7));
  cursor: pointer;
  transition: all 500ms;
}

.activeDocCircle { 
  fill: #000;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(64, 81, 181, 0.7));
  filter: drop-shadow( 3px 3px 2px rgba(64, 81, 181, .7));
}
/* axis styles */
.axisLine {
  stroke-width: 0.8px;
  stroke: #b7b7b7;
}

.axisEllipse {
  fill: #ffffff;
  stroke-width: 0.05px;
  stroke: #b7b7b7;
  transition: all 100ms;
}

.activeEllipse {
  fill : #f0f0f0;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(195, 195, 195, 0.7));
  filter: drop-shadow( 3px 3px 2px rgba(195, 195, 195, .7));
}

.axisIcon {
  font-size: 25px;
  text-anchor: middle;
  fill: black;
  cursor: pointer;
}

.tempAxisRange {
  z-index: -10;
}

.sortingIcon {
  font-size: 25px;
  text-anchor: middle;
  fill: black;
}

/* Action Center of List View */

.actionCenter {
  padding: 2%;
  background: #6b6b6b;
}

.searchInListContainer{
  flex: 9;
}

.sortingIconContainer_{
  flex : 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.sortingIcon_ {
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.sortingMenuContainer {
  padding: 3%;
}

.sortingTitle {
  font-weight: 500;
  color: #f0f0f0;
  font-size: 1.4em;
}

.sortingMenuOption {
  font-weight: 100;
  color: #dbdbdb;
  font-size: 1em;
  transition: all 500ms;
  margin-left: 2%;
}

.sortingMenuOption:hover {
  color: #ffffff;
  cursor: pointer;
  margin-left: 4%;
  font-size: 1.05em;
}

/* vis 2 */
.slideController {
  cursor: pointer;
}

.slideControllerText{
  text-anchor: middle;
  fill: #eee;
  font-weight: 600;
}

.clusterElement {
  cursor: pointer;
}

.addClusterIcon{
  cursor: pointer;
}

.sortingMenu_{
  rx : 5
}

.lensMenuContainer {
  stroke: #737373;
    stroke-width: 0.2;
}

.summaryRectDiv {
  width: 100%;
  height: 100%;
  transition: all 500ms;
  padding: 1%;
  color: white;
  text-align: justify;
  line-height: 1.1;
}
/* Summary Lens */
.summaryDiv {
  background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    border-bottom: solid 4px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: row;
}

.summaryConvolutionMenu{
  flex: 1;
  transition: all 500ms;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summaryConvolutionMenu:hover{
  flex: 1.35;
  opacity: 1;
}

.summaryConvolutionIcon{
  margin-top: 10%;
  margin-bottom: 10%;
  color: #444;
  cursor: pointer;
  transition: all 500ms;
}

.summaryBody{
  flex: 10;
  transition: all 500ms;
}

.summarySettings{
  flex: 1;
  transition: all 500ms;
  border-bottom-right-radius: 15px;
  opacity: 0.60;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summarySettingsIcon{
  margin-top: 10%;
  margin-bottom: 10%;
  color: #444;
  cursor: pointer;
  transition: all 500ms;
}

.summarySettings:hover{
  flex: 1.35;
  opacity: 1;
}

/* Summary Lens */
.summaryLensTitle {
  text-align: center;
  font-weight: bold;
}

.summaryP {
  text-align: justify;
  color: rgb(54, 54, 54);
}

.titleForeignObjectDiv{
  width: 100%;
  height: 100%;
  background-color: #eee;
  border:solid 1.5px;
  text-align: center;
  line-height: 1;
}

.publishDateForeignObjectDiv{
  text-align: center;
  line-height: 1;
  width: 100%;
  height: 100%;
}

.referenceForeignObjectDiv {
  text-align: end;
  width: 100%;
  height: 100%;
  padding: 2%;
  border-bottom: solid 1px #fff;
}

.citationForeignObjectDiv {
  text-align: end;
  width: 100%;
  height: 100%;
  padding: 2%;
  border-top: solid 1px #fff;
}
.titleOverviewDrillDiv{
  width: 100%;
  height: 100%;
  text-align: center;
  border-top: solid 1px;
  background-color: rgba(255,255,255,0.85);
}

.authorsOverviewDrillDiv{
  width: 100%;
  height: 100%;
  text-align: center;
  border-top: solid 1px;
  background-color: rgba(255,255,255,0.85);

}
.journalOverviewDrillDiv{
  width: 100%;
  height: 100%;
  text-align: center;
  border-top: solid 1px;
  background-color: rgba(255,255,255,0.85);

}
.referenceOverviewDrillDiv{
  width: 100%;
  height: 100%;
  text-align: end;
  color: #fff;
  padding-top: 35px; /* this shall change later*/
  border-bottom: solid 1px #fff;
}

.citationOverviewDrillDiv{
  width: 100%;
  height: 100%;
  text-align: end;
  color: #fff;
  border-top: solid 1px #fff;
  /* padding-top: 35px; this shall change later */
}

.publishDateOverviewDrillDiv{
  background-color: rgba(255,255,255,0.85);
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.pdfContainer { 
  width: 20%;
  height: 500px;
  margin: auto;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sliderFrame {
  width: 50%;
  height: 70vh;
  padding: 1%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: solid 1px;
  text-align: justify;
  position: relative;
}

.sliderButtonContainer {
  width: 100%;
}

.sliderBTN {
  width: 100%;
  left: 0;
  margin: 0;
  margin-top: 1%;
}

.summarySlider {
  position: absolute;
    width: 100%;
    padding: 1%;
    cursor: grab;
    height: 15%;
    overflow: hidden;
    font-size: 1vh;
    z-index: 5;
    background-color: #e6e6e6;
}

.summarySlider:active {
  cursor: grabbing;
}

.sliderHeader {
  text-align: right;
  font-weight: bold;
}

.sliderThumbnailView {
  font-size: 0.2vh;
    overflow: hidden;
    text-align: justify;
    padding: 5%;
}